<h3>NonRoutableComponent</h3>

@code {
    <!-- NonRoutableComponent.razor -->
    <h4>Non-Routable Component</h4>
    <p>This is a non-routable component, and it is used within other components.</p>

}
